/* External CSS file */
h1, h2 {
    color: darkgreen;
}

p {
    color: #333;
    text-align: justify;
    padding: 0 20px;
}

th, td {
    border: 1px solid gray;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #e0e0e0;
}

td {
    background-color: #ffffff;
}
